

.settings-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 1% auto;
}

.header-wrapper {
    padding-bottom: .1rem;
    padding-top: .6rem;
}

.header-wrapper > h1, h5 {
    width: 250px;
    margin: 0 auto;
}

.settings-info-wrapper {
    border-top: 1px solid #010101;
    border-bottom: 1px solid #010101;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 1.5rem 0rem;
}

.input-info {
    padding: .6rem .3rem;
    max-width: 768px;
    margin: 0 auto;
}

/* .input-info input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2rem;
} */
/* .input-info input:focus {
    background-color: #f2f2f2;
    border: #44ce6f 1px solid;
} */

.setting-button-wrapper {
    padding: .6rem .3rem;
    border-top: 1px solid #010101;
    margin-top: 1.4rem;
}

.setting-button-wrapper > button[type='submit'] {
    display: block;
    width: 100%;
    max-width: 768px;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    margin: 0 auto;
    cursor: pointer;
    background-color: #44ce6f;
}