.card-container{
    width: 30%;
    border: #44ce6f 1px solid;
    margin-top: 2%;
    margin-left: 1%;
    box-shadow: 0px 12px 30px 6px rgba(66, 113, 164, 0.104891);
}
.card-item{
    /* border: 1px solid blue; */
    display: flex;
    width: 100%;
    margin-top: 2%;
}

.card-content-1 {
    width: 26%;
    margin-left: 1%;
}
.card-content_2 {
    width: 72;
    margin-left: 1%;
}
.card-actions {
  display: flex;
  justify-content: center;
}
.card-actions button {
    padding: 8px 20px;
    font-size: 1rem;
    font-weight: 600;
    margin: 5px 10px;
    border: 2px solid #44ce6f;
}
.delete-card-offer-action {
    background-color: crimson;
}
.edit-card-offer-action {
    background-color: #44ce6f;
}

 /* .offer_content button {
    padding: 8px 16px;
    font-size: .9rem;
    font-weight: 600;
}  */

/* .offer-actions {
    display: flex;
    justify-content: center;
} */

/* button.offer-edit-action{
    background-color: gold;
    width: 30%;
} */

/* button.offer-delete-action{
    background-color: red;
    width: 30%;
    margin-left: 4%;
} */