

.driver-signup-bg-wrapper {
  min-width: 25.875rem;
  position: relative;
}

.signup-bg {
  background-image: url("/src/assest/driver-banner1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-top: 56.2%;
  position: relative;
}

.signup-bg-text-wrapper {
  position: absolute;
  top: 35%;
  left: 25%;
  color: #ffffff;
  min-width: 270px;
  max-width: 414px;
}
.signup-bg-text-wrapper > h4 {
  padding-top: 0.7rem;
}

.form-wrapper {
  width: 85%;
  padding: 2rem 0.875rem;
  margin: 2% auto;
  overflow: hidden;
  box-shadow: 0px 12px 30px 6px rgba(66, 113, 164, 0.104891);
  max-width: 768px;
  border-radius: 7px;
}

.signin-input-wrapper {
  padding-top: 0.8rem;
  width: 100%;
}

.signin-button-wrapper {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  padding: .7rem 0rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  background-color: #44ce6f;
  cursor: pointer;
}

.signin-button-wrapper:hover{
  background-color: transparent;
}

.back-to-loginpage-wrapper{
    margin-top: 1rem;
}

.back-to-loginpage {
    padding-left: 2rem;
    color: #44ce6f;
    font-size: 1.2rem;
}
