.add-offer-container {
    width: 90%;
    height: 39vh;
    margin: 3% auto;
}
.add_offer_container_content {
    border: 1px solid #44ce6f;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    height: 100%;
}
.add_offer_header{
    background-color: #44ce6f;
}
.add_offer_inputs .offer_field {
    margin: 1% 0;
}
.add_offer_inputs .offer_field input {
    width: 70%;
    margin: 5px auto;
    border-radius: .5rem;
    padding: 1% 0%;
    font-size: 1rem;
    font-weight: 500;
    font-family: inherit;
}
.add_offer{
    border-color: #44ce6f;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: inherit;
    padding: 10px 60px;
    margin-top: 2%;
}
.add_offer:hover {
    background-color:#44ce6f;
    color: black;
}


/* @media screen and (max-width: 1024px) {
    .flex-child{
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 10px;
    }
}
@media screen and (max-width: 414px) {
    .flex-child {
        width: 99%;
        margin-left: 1%;
        margin-right: 1%;
    }
    
    .smsidebar{
        display:none;
    }
}  */