.content {
   display: flex;
   flex-direction: column;
   width: 98%;
   margin-left: 1%;
}

.dcontainer{
    display: flex;
    flex-flow: wrap row;
    width: 100%;
}

.flex-child{
    width: 23%;
    height: 200px;
    background-color: blue;
    margin-left: 1%;
    margin-right: 1%;
    color: white;
    font-size: 2rem;
}

@media screen and (max-width: 1024px) {
    .flex-child{
        width: 48%;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 10px;
    }
}
@media screen and (max-width: 411px) {
    .flex-child {
        width: 99%;
        margin-left: 1%;
        margin-right: 1%;
    }
    
    .smsidebar{
        display:none;
    }
}