.nav-link-container{
    background-color: #000;
    width: 200px;
    height: 100vh;
}

.nav-link-container a {
     color:#fff;
     display: block;
     width: 100%;
     line-height: 40px;
     text-decoration: none;
     padding-left: 40px;
     box-sizing: border-box;
     position: relative;
     top: .5%;
}
.nav-link-container a:hover {
    background-color: #44ce6f;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

.dashboard-layout{
    display: grid;
    grid-template-areas: "a a" 
                         "b c";
    grid-template-rows: 60px 100%;
    grid-template-columns: 10% 89%;   
}

.dashboard-layout2{
     display: grid;
     grid-template-areas: "a a"
     "b c";
     grid-template-rows: 60px 100%;
     grid-template-columns: 4% 96%;
}

.topnav{
    grid-area: a;   
}

.sidenav{
    grid-area: b;  
}

.child{
    grid-area: c; 
}

@media screen and (max-width: 1024px) {
    .nav-link-container{
        position: absolute;
    }
}