

div.user-navigation-wrapper {
  background-color: #44ce6f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 390px;
  width: 100vw;
  position: fixed;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}

button.burgger-icon-wrapper {
  border: none;
  background-color: transparent;
  padding-right: 1rem;
}
button.burgger-icon-wrapper > svg {
  height: 1.5rem;
  width: 1.5rem;
}

div.profile-image-wrapper {
  display: none;
}
div.profile-image-wrapper img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  button.burgger-icon-wrapper {
    display: none;
  }

  .logo-wrapper {
    padding-left: 2.6rem;
  }

  div.profile-image-wrapper {
    display: flex;
    align-items: center;
    margin-right: 2.6rem;
  }
  div.profile-image-wrapper span {
    padding-left: .7rem;
    font-size: 1.3rem;
  }
}