

.nav-link-container {
  background-color: #000;
  width: 12.1875rem;
  height: 100vh;
  position: fixed;
  left: -100%;
  z-index: 10;
  transition: 0.3s ease-in-out;
}

.nav-link-container2 {
  left: 0;
}

.links-group {
  position: relative;
  top: 1.5rem;
}

a {
  text-decoration: none;
}

.link-container {
  color: white;
}

.links-items {
  width: 100%;
  margin-top: 0.6rem;
}

.fas {
  width: 30%;
  text-align: center;
  color: #fff;
}

.links-items a {
  width: 50%;
  display: inline-block;
}

.links-items:hover {
  cursor: pointer;
  background-color: var(--clr-green-dark);
  color: #000;
}

.dashboard-layout {
  display: grid;
  grid-template-areas:
    "a a"
    "b c";
  grid-template-rows: 60px 100%;
  grid-template-columns: 5% 95%;
}

.dashboard-layout2 {
  display: grid;
  grid-template-areas:
    "a a"
    "b c";
  grid-template-rows: 60px 100%;
  grid-template-columns: 3% 96%;
}

.topnav {
  grid-area: a;
}

.sidenav {
  grid-area: b;
}

.child {
  grid-area: c;
  margin-top: 15px;
}

@media (min-width: 768px) {
  .nav-link-container {
    left: 0%;
  }

  .child {
    width: 76%;
    margin-left: 175px;
  }
}

@media (min-width: 1024px) {
  .child {
    width: 83.2%;
  }
}
@media (min-width: 1536px) {
  .child {
    width: 89%;
  }
}
