.user-nav-link-container {
    background-color: black;
    height: 100vh;
    width: 200px;
}

.user-nav-link-container a {
     color:#fff;
     display: block;
     width: 100%;
     line-height: 50px;
     text-decoration: none;
     padding-left: 40px;
     padding-top: 20px;
     box-sizing: border-box;
}

.user-sidenav-container1 {
    width: 100%;
    display: grid;
    grid-template-areas: "a a"
                         "b c";
    grid-template-rows: 70px 100%;
    grid-template-columns: 14% 86%;
}

.user-sidenav-container2 {
     display: grid;
     grid-template-areas: "a a"
                          "b c";
     grid-template-rows: 70px 100%;
     grid-template-columns: 3% 97%;
}

.top-first-child {
    grid-area: a;
}

.side-side-nav {
    grid-area: b;
}

.user-child {
    grid-area: c;
}

 @media screen and (max-width: 1024px){
     .user-sidenav-container1 {
         position: absolute;
     }
} 