.nav-user-top{
   background-color: #44ce6f;

   height: 70px;
   position: relative; 
   width: 100%;
}
.me{
    display: inline;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 20px;
}

.profile-container{
    position: absolute; 
    right: 50px; 
    top: 10px;
}

.profile{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 30px;
}

.opt-center{
    text-align: center;
}

/* @media screen and (max-width: 1024px) {
   .toggle-user{
       display: inline;
   }
} */

@media screen and (max-width: 415px) {
    .profile-container {
        right: 1;
    }
}