.payment-user {
    margin-left: 22%;
}
.child_1{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.child_1 > input{
    width: 33.5%;
    margin: 10px 0px;
    padding: 20px 16px;

}