@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');

/* .car_list {
     width: 90vw;
     max-width: 1470px;
     margin: 5rem auto;
     display: grid;
     grid-gap: 3rem;
     height: 100vh;
}

.ride_details img {
    width: 300px;
    height: 300px;
}

.ride_details {
    border-radius: 1rem;
    background-color: white;
    padding: 1rem .5rem;
    border: 1px solid whitesmoke; 
    height: 460px;
}

.ride_details {
 padding: 0.2rem;

}

.order__now {
    border-color: #44ce6f;
    padding: 12px 20px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-family: 'IBM Plex Sans',
    sans-serif;
}
.order__now:hover{
    background-color: #44ce6f;
    border: none;
}

@media screen and (min-width: 768px) {
    .car_list {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     height: 100vh;
    }
}

@media screen and (min-width: 1024px) {
    .car_list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
} */
