
.testing {
    width: 100%;
    height: 1000px;
}

.par {
    border: 2px solid whitesmoke;
    width: 70%;
    text-align: center;
    margin: 6% 15%;
    line-height: 2rem;
    /* box-shadow: 1rem 1rem 2rem #888888; */
    font-size: 1.3em;
}



@media screen and (max-width: 768px){
    .par {
        width: 90%;
        margin: 3% 7%;
    }
}



/*  
.ride-history-picture {
    width: 140px;
    height: 140px;
    margin-left: 15%;
}

.ride-history {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 15px;
}

.ride-history-firstchild {
    width: 30%;
}

.ride-history-secondchild {
    margin-top: 50px;
    margin-left: 25%;
    width: 40%;
}

.user_ride__history {
    padding: 10px;
}

.history-icons{
    margin-right: 10px;
} 

 @media screen and (max-width: 411px) {
   
}  */