/* .user__profile__container {
    border: 1px solid black;
    width: 70%;
    margin: 5% auto;
}
div.user__profile__header {
    text-align: center;
    border-bottom: solid black 1px;
}

.user__profile__body {
    width: 100%;
    padding: 20px;
    border-bottom: black 1px solid;
}
.profile__form {
    padding: 20px;
    margin: 0 auto;
}

.profile__form input {
    padding: 10px 5px;
    width: 70%;
    margin: 0 13%;
}

.user__profile__edit {
    padding: .8rem 4rem;
    border: 1px solid #44ce6f;
    font-family: 'Roboto';
    font-size: 1.4rem;
    font-weight: 500;
}
.user__profile__edit:hover{
    background-color: #44ce6f;
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 1.5%;
    margin: 1% 0;
}


@media screen and (max-width: 414px) {
    .user__profile__container {
        width: 100%;
    }
    .profile__form input {
        width: 100%;
    }

} */