.pagination {
  font-size: 1.5rem;
  color: #00a1fe;
  display: flex;
  flex-direction: column;
  margin: 7rem 0;
}

.pagination__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination__info {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  color: #666;
}

.pagination__buttons button {
  width: 5rem;
  height: 5rem;
  border: 1px solid rgb(225, 223, 223);
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.06);
  transition: all 0.2s;
  cursor: pointer;
}

.pagination__pages {
  display: flex;
}

.pagination__buttons button:hover {
  background-color: #f9fdff;
}

button.pagination__page {
  width: 4.2rem;
  height: 4.2rem;
}

button.pagination__page--selected {
  background-color: #d5eefc;
  pointer-events: none;
}

button.pagination__page--selected:hover {
  background-color: #d5eefc;
}

.pagination__page,
.pagination__next {
  margin-left: 1.2rem;
}

button.pagination__button--disabled {
  box-shadow: none;
  opacity: 0.4;
  pointer-events: none;
}

@media only screen and (max-width: 800px) {
  .pagination__buttons button {
    width: 3.8rem;
    height: 3.8rem;
  }

  button.pagination__page {
    width: 3.2rem;
    height: 3.2rem;
  }

  .pagination__page,
  .pagination__next {
    margin-left: 0.8rem;
  }
}