

:root {
  --clr-white: #fff;
  --clr-green-dark: #44ce6f;
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Roboto";
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.img-container {
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.logo {
  height: 40px;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media screen and (max-width: 790px) {
  .img-container {
    padding: 1rem;
  }

}

@media screen and (min-width: 800px) {
  .img-container {
    width: 60%;
  }
}
